@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #53eafd;
  --color-secondary: black;
}

@layer components {
  .btn-1 {
    @apply btn border-none rounded-lg text-secondary bg-primary;
  }
}
